<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ct7liang.pictureselector">

    <application>
        <activity android:name=".ui.MultipleSelectActivity" />
        <activity android:name=".ui.SingleSelectActivity"></activity>
    </application>

</manifest>